- content_for :page_title do
  = t('cross_site_subscribes.create_cross_site_subscribes', title: site_title)

= simple_form_for(@cross_site_subscription, url: cross_site_subscribes_path) do |f|

  .flash-message= I18n.t('cross_site_subscribes.explain_after_add')

  = render 'shared/error_messages', object: @cross_site_subscription

  - if params['site'] == 'bilibili'
    %p
      请勿添加 《BanG Dream!》、 《Princess Connect! 公主连结》、 《Arknight 明日方舟》 的 BiliBili 鏡像。你可以在
      %a{href:'http://bot-hello.2heng.xin/'} http://bot-hello.2heng.xin/
      找到已有的鏡像賬號
      %br
      %br

  .fields-group
    = f.input :site, wrapper: :with_label, label: I18n.t('cross_site_subscribes.site'), input_html: {readonly: :true}

    = f.input :foreign_user_id, wrapper: :with_label, label: I18n.t('cross_site_subscribes.foreign_user_id'), placeholder: "@GretaotoM"
    = f.input :sensitive, wrapper: :with_label, label: I18n.t('cross_site_subscribes.sensitive')
    = f.input :public, wrapper: :with_label, label: I18n.t('cross_site_subscribes.media_or_influencer')

  .actions
    = f.button :button, t('cross_site_subscribes.subscribe'), type: :submit



